/* Container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Video container class */
.video-container {
  width: 100%;
  max-width: 800px; /* You can adjust this based on your needs */
  margin: 0 auto; /* Centers the video on the page */
  background-color: #000; /* Black background for video container */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for better visibility */
}

/* Video player class */
.video-player {
  width: 100%;
  height: auto; /* Ensure the video scales according to the width */
  object-fit: contain; /* Makes sure the entire video is visible without cropping */
  border-radius: 8px; /* Optional: Adds rounded corners to the video */
}

.count-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
}


/* Card styling */
.card {
  flex-basis: 30%;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

/* Image styling */
.card-img-top {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  /* Ensures the image covers the available space without stretching */
  border-bottom: 1px solid #ddd;
}

/* Card body styling */
.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #555;
}

/* Button styling */
.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Responsive styling */
@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    flex-basis: 45%;
  }
}